<div class="nested-fields">
  <div class="field">
    <%= f.label :name_of_ingredient, class: "label" %>
    <%= f.text_field :name, class: "input" %>
  </div>
  <%= link_to_remove_association "remove ingredient", f, class: "button" %>
</div>