  <div class="container">
    <h2 class="title category-title">Dinner</h2>
  </div>
  <div class="container">
    <div class="columns is-multiline">
        <% @recipes.each do |recipe| %>
        <div class="column is-2 card index-card">
        <%= image_tag recipe.image %>
            <div class="content recipe_title">
            <%= link_to recipe.title, recipe_path(recipe) %>
            </div>
        </div>
        <% end %>
    </div>
  </div>
 
