
<section class="hero is-large">
    
    <%= image_tag("recipe_box.jpg", class: "cover-image") %>
    <h3 class="subtitle cover-subtitle is-overlay">A place to store all of your family classics for future
      generations<br/> Create an Account and start saving your recipes</h3>
      
      
    
</section>
