body {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #424244;
}

.navbar {
    margin: 10px;
    border-bottom: 1px solid #C5C4C6;
    text-transform: uppercase;
    .navbar-item {
        color: #424244;
        &:hover {
            color: #C5C4C6;
        }
    }
}

.active-button {
    color: #FFF;
    background-color: #81A190;
}

.cover-image {
    opacity: 0.3;
}

.cover-subtitle {
    color: #fff;
    text-align: center;
    margin-top: 500px;
    text-transform: uppercase;
    font-weight: heavy;
}

.field_with_errors {
    padding: 2px;
    background-color: #E7C5C2;
    display: table;
}

.container.center-all {
    margin-left: 35%;
}

.recipe-title {
    text-transform: uppercase;
    font-size: 25px;
}

.index-card {
    margin: 10px;
}

.recipe_title {
    text-transform: uppercase;
    font-size: 12px;
}